<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit Job</title>
</head>
<body>
	<div align = "center">
		<h1>Edit Job</h1>
		<br/>
		<form action="#" th:action="@{/save}" th:object="${job}" method="post">
			<table border="0" cellpadding="10">
				<tr>
					<td>Job Code: </td>
					<td><input type="text" th:field="*{code}" readonly="readonly"/></td>
				</tr>
				<tr>
					<td> Description: </td>
					<td><input type="text" th:field="*{description}" /></td> 
				</tr>
				<tr>
					<td> Price: </td>
					<td><input type="text" th:field="*{price}" /></td> 
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Save</button> </td>
				</tr>
				
			</table>
		</form>
	</div>

</body>
</html>